demo/.classpath
demo/.project
demo/.settings/org.eclipse.core.resources.prefs
demo/.settings/org.eclipse.jdt.core.prefs
demo/.settings/org.eclipse.m2e.core.prefs
demo/.settings/org.springframework.ide.eclipse.prefs
demo/target/classes/application.properties
demo/target/classes/com/example/demo/DemoApplication.class
demo/target/classes/com/example/demo/config/KafkaConsumerConfig.class
demo/target/classes/com/example/demo/config/KafkaProducerConfig.class
demo/target/classes/com/example/demo/controller/KafkaController.class
demo/target/classes/META-INF/MANIFEST.MF
demo/target/classes/META-INF/maven/com.example/demo/pom.properties
demo/target/classes/META-INF/maven/com.example/demo/pom.xml
telcoapi/.project
